.hero-section {

    margin-top: 30px;
}

.hero {
    margin-left: 80px;
}

.content {
    margin-left: 200px;
    text-align: right;
}

.heading {
    margin-top: 100px;
    font-size: 45px;
    font-weight: 700;
    color: #0d3d67;
}

.para {
    color: #0d3d67;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    background-color: #f67c01;
}